{% extends 'base.html.twig' %}

{% block body %}
    <div class="home-picture-container d-flex justify-content-center">
        <img class="about-picture w-100" src="{{asset('pictures/about.jpg')}}" alt="frites">
    </div>

        <h2 class="text-center mt-4 mb-4">Contactez nous</h2>
        <div class="d-flex justify-content-around">

            <div class="d-flex flex-column justify-items-center">
                <h4>Coordonnées</h4>
                Camping La Sirène
                </br>
                Route de Taxo à la mer
                </br>
                66702 Argelès-sur-mer - France
                </br>
                Tél. : +33 (0)4 68 81 04 61
                </br>
                Fax : +33 (0)4 68 81 69 74
                </br>
                E-mail : contact@camping-lasirene.fr
            </div>

            <div>
                <div class="mb-3">
                    <h4>Moyens d’accès</h4>
                    Gare Argelès-sur-Mer (4 km)
                    </br>
                    Gare Perpignan (21 km)
                    </br>
                    Aéroport de Perpignan (30 km)
                </div>
                <div>
                    <h4>Coordonnées GPS</h4>

                    Latitude : 42.570896°N
                    longitude : 3.029596°E
                </div>
            </div>
        </div>

{% endblock %}