{% extends 'base.html.twig' %}

{% block body %}
    <h1>FACTURE</h1>
    <div>Voici votre facture {{nom}} {{prenom}}</div>
    <div><a class="btn-outline-danger" target ="_blank" href="{{path('facturePDF_client', {'id':id})}}">TELECHARGER PDF</a></div>
{% endblock %}
