{% extends 'base.html.twig' %}

{% block body %}
    <div class="home-picture-container" >
        <img class="home-picture w-100" src="{{asset('pictures/home.jpg')}}" alt="frites">
    </div>

    <h3 class="text-center mb-4 mt-4">Dépaysement garanti dans un des plus beaux campings de Belgique !</h3>

    <div class="mb-5">
        A Bruxelles, idéalement placé à 900m de la plage et à quelques encablures de l’Espagne, ce village de vacances est une oasis de verdure sur 23 hectares doté de l’un des plus beaux parcs aquatiques de Belgique.
        Idéal pour des vacances en famille inoubliables, le camping 3 étoiles fait le bonheur de ses vacanciers depuis 1964.
        Référence de nombreux guides touristiques, ce camping d’exception dans le sud de la Belgique vous offre une large palette d’activités pour toute la famille, des infrastructures haut de gamme, des mobil-homes modernes et design dans un domaine tropical à la végétation luxuriante…
    </div>

    <div class="patate-container d-flex justify-content-around" >
        <div class="d-flex flex-column align-items-center">
            <img class="patate-picture mb-3" src="{{asset('pictures/potato.png')}}" alt="frites">
            <h2>Mobile-home</h2>
        </div>
        <div class="d-flex flex-column align-items-center">
            <img class="patate-picture mb-3" src="{{asset('pictures/potato.png')}}" alt="frites">
            <h2>Caravane</h2>
        </div>
        <div class="d-flex flex-column align-items-center">
            <img class="patate-picture mb-3" src="{{asset('pictures/potato.png')}}" alt="frites">
            <h2>Tente</h2>
        </div>
    </div>
{% endblock %}

