{% extends 'base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messagekey |
                        trans(error.messagedata,'security')}}
                    </div>
                {% endif %}
                <form method="post" action="{{path('login')}}">
                    <div class="form-group">
                        <label for="username">
                            Nom d'utilisateur
                        </label>
                        <input id="username" name="_username" type="text" value="{{last_username}}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password"> Mot de passe</label>
                        <input type="password" id="password" name="_password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-outline-primary btn-sm">Connexion</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}