{% extends 'base.html.twig' %}

{% block title %}Edit Seasons{% endblock %}

{% block body %}
    <h1>Edit Seasons</h1>

    {{ include('admin/seasons/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('seasons_index') }}">back to list</a>

    {{ include('admin/seasons/_delete_form.html.twig') }}
{% endblock %}
