{% extends 'base.html.twig' %}

{% block title %}Seasons index{% endblock %}

{% block body %}
    <h1>Seasons index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Label</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr>
                <td>{{ season.label }}</td>
                <td>{{ season.dateStart ? season.dateStart|date('Y-m-d') : '' }}</td>
                <td>{{ season.dateEnd ? season.dateEnd|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('seasons_show', {'id': season.id}) }}">show</a>
                    <a href="{{ path('seasons_edit', {'id': season.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('seasons_new') }}">Create new</a>
{% endblock %}
