{% extends 'base.html.twig' %}

{% block title %}Seasons{% endblock %}

{% block body %}
    <h1>Seasons</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ season.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ season.label }}</td>
            </tr>
            <tr>
                <th>Date_start</th>
                <td>{{ season.dateStart ? season.dateStart|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_end</th>
                <td>{{ season.dateEnd ? season.dateEnd|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('seasons_index') }}">back to list</a>

    <a href="{{ path('seasons_edit', {'id': season.id}) }}">edit</a>

    {{ include('admin/seasons/_delete_form.html.twig') }}
{% endblock %}
