<form method="post" action="{{ path('templates_delete', {'id': template.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir le supprimer ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ template.id) }}">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>
