{% extends 'base.html.twig' %}

{% block title %}Modifier un template{% endblock %}

{% block body %}
    <div class="container">
        <div class="row d-flex flex-column align-content-center">
            <h1>Modifier un template</h1>

            {{ include('admin/templates/_form.html.twig', {'button_label': 'Update'}) }}

            <div>
                <a class="btn btn-outline-primary" href="{{ path('templates_index') }}">Retour</a>
            </div>

            {{ include('admin/templates/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
