{% extends 'base.html.twig' %}

{% block title %}Liste des templates{% endblock %}

{% block body %}
   <div class="container">
     <h1>Liste des templates</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Prix</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Maximum de personnes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for template in templates %}
            <tr>
                {% if template.getMainPicture().filename == "pictures/default.png" or template.getMainPicture().filename is null %}
                    <td><img src="{{ asset('pictures/default.png') }}" alt="" class="card-img-top"></td>
                {% else %}
                    <td><img src="{{ vich_uploader_asset(template.getMainPicture(), 'imageFile') }}" alt="" class="card-img-top"}</td>
                {% endif %}
                <td>{{ template.price }}</td>
                <td>{{ template.title }}</td>
                <td>{{ template.description }}</td>
                <td>{{ template.max }}</td>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.role.label == "ROLE_ADMIN" %}
                    <td>
                        <a class="btn btn-outline-primary mb-2 d-flex justify-content-center" href="{{ path('templates_show', {'id': template.id}) }}">+</a>
                        <a class="btn btn-outline-primary" href="{{ path('templates_edit', {'id': template.id}) }}">Modifier</a>
                    </td>
                {% else %}
                    <td>
                        <a class="btn btn-outline-primary mb-2 d-flex justify-content-center" href="{{ path('templates_show', {'id': template.id}) }}">Réserver</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.role.label == "ROLE_ADMIN" %}
        <a class="btn btn-outline-primary" href="{{ path('templates_new') }}">Nouveau template</a>
    {% endif %}

   </div>
{% endblock %}
