{% extends 'base.html.twig' %}

{% block title %}Nouveau template{% endblock %}

{% block body %}
    <h1>Créer un nouveau template</h1>

    {{ include('admin/templates/_form.html.twig') }}

    <a class="btn btn-outline-primary" href="{{ path('templates_index') }}">Retour</a>
{% endblock %}
