{% extends 'base.html.twig' %}

{% block title %}Template{% endblock %}

{% block body %}
    <div class="container">
        <h1>Template</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Title</th>
                    <td>{{ template.title }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ template.description }}</td>
                </tr>
                <tr>
                    <th>Maximum de personnes</th>
                    <td>{{ template.max }}</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>{{ template.price }}</td>
                </tr>
            </tbody>
        </table>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.role.label == "ROLE_ADMIN" %}
                <a class="btn btn-outline-success" href="{{ path('templates_edit', {'id': template.id}) }}">Modifier</a>
                {{ include('admin/templates/_delete_form.html.twig') }}
            {% else %}
                {{ include ( 'generale/_formdispo.html.twig', { form:form } ) }}
                <h3 class="text-center">Veuillez rentrer une date de séjour :</h3>
            {% endif %}
        <div class="row d-flex justify-content-center">
            <a class="btn btn-outline-primary" href="{{ path('templates_index') }}">Retour</a>
        </div>

    </div>
{% endblock %}
