<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h1 class="navbar-brand" > {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %} Bienvenue {{app.user.name}} ! {% else %} Bienvenue {% endif %}</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {% if app.user.role.label == "ROLE_ADMIN" %}
          <li class="nav-item">
            <a class="nav-link" href="/templates">Templates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/pictures">Images</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/biens">Biens</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/tarifications">Tarifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/seasons">Saisons</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/templates">Réserver</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/biens">Biens</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/owner/factures">Factures</a>
          </li>
        {% endif %}
      {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/templates">Réserver</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">A propos</a>
          </li>
      {% endif %}
    </ul>
  </div>
    <div>
      {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
          <a href="/logout" class="btn btn-outline-dark">Déconnexion</a>
      {% else %}
          <a href="/login" class="btn btn-outline-dark">Connexion</a>
      {% endif %}
    </div>
</nav>