<div class="topbar">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <img class="logo card-img-top mr-2" src="{{asset('pictures/logo.png')}}" alt="" >
            <h5>Camping de l'espadrille Volante *** </h5>
        </div>
    </div>
</div>
