{% extends 'base.html.twig' %}

{% block title %}Pictures{% endblock %}

{% block body %}
    <h1>Pictures</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ picture.id }}</td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ picture.filename }}</td>
            </tr>
            <tr>
                <th>Main</th>
                <td>{{ picture.main ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pictures_index') }}">back to list</a>

    <a href="{{ path('pictures_edit', {'id': picture.id}) }}">edit</a>

    {{ include('pictures/_delete_form.html.twig') }}
{% endblock %}
