{% extends 'base.html.twig' %}

{% block title %}Edit Users{% endblock %}

{% block body %}
    <h1>Modifier Users</h1>

    {{ include('admin/users/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-primary" href="{{ path('users_index') }}">Retour</a>

    {{ include('admin/users/_delete_form.html.twig') }}
{% endblock %}
