{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <h1>Users</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ user.address }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ user.city }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ user.tel }}</td>
            </tr>
        </tbody>
    </table>
    <div class="row d-flex justify-content-center">
        <a class="btn btn-outline-primary" href="{{ path('users_index') }}">Retour</a>
        <a class="btn btn-outline-success" href="{{ path('users_edit', {'id': user.id}) }}">Modifier</a>
        {{ include('admin/users/_delete_form.html.twig') }}
    </div>

{% endblock %}
