{% extends 'base.html.twig' %}

{% block title %}Edit Tarifications{% endblock %}

{% block body %}
    <h1>Edit Tarifications</h1>

    {{ include('admin/tarifications/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tarifications_index') }}">back to list</a>

    {{ include('admin/tarifications/_delete_form.html.twig') }}
{% endblock %}
