{% extends 'base.html.twig' %}

{% block title %}Tarifications index{% endblock %}

{% block body %}
    <h1>Tarifications index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Valeur</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tarification in tarifications %}
            <tr>
                <td>{{ tarification.code }}</td>
                <td>{{ tarification.value }}</td>
                <td>{{ tarification.type }}</td>
                <td>
                    <a href="{{ path('tarifications_show', {'id': tarification.id}) }}">show</a>
                    <a href="{{ path('tarifications_edit', {'id': tarification.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tarifications_new') }}">Create new</a>
{% endblock %}
