{% extends 'base.html.twig' %}

{% block title %}Tarifications{% endblock %}

{% block body %}
    <h1>Tarifications</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tarification.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ tarification.code }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ tarification.value }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ tarification.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tarifications_index') }}">back to list</a>

    <a href="{{ path('tarifications_edit', {'id': tarification.id}) }}">edit</a>

    {{ include('admin/tarifications/_delete_form.html.twig') }}
{% endblock %}
