@import "~bootstrap/scss/bootstrap"

body
    .logo-container
        color: #fff

    .logo
        width: 5%

    .topbar
        background-color: #F9C737

    .home-picture-container
        height: 300px
        overflow: hidden

    .home-picture
        position: relative
        top: -150px

    .about-picture
        position: relative

    .patate-picture
        width: 20%

    .navbar-collapse:last-child
        justify-content: center





