<form method='post'>
    {% for template in templates %}
        <div class="form-check">
            <input type="checkbox" name="types[]" class="form-check-input" value="{{template.id}}" id="{{template.id}}">
            <label class="form-check-label" for="{{template.id}}">{{ template.label }}</label>
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Filtrer</button>
</form>