{% extends 'base.html.twig' %}

{% block title %}Edit Biens{% endblock %}

{% block menu %}
    {{ include('admin/_adminmenu.html.twig') }}
{% endblock %}

{% block body %}
    <h1>Edit Biens</h1>

    {{ include('admin/biens/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('biens_index') }}">back to list</a>

    {{ include('admin/biens/_delete_form.html.twig') }}
{% endblock %}
