{% extends 'base.html.twig' %}

{% block title %}Biens index{% endblock %}


{% block body %}
    <h1>Biens index</h1>
    {{ include('admin/biens/_filtretypebien.html.twig') }}

    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Prix</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Maximum de personnes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bien in biens %}
            <tr>
                {% if bien.getTemplate().getMainPicture().filename == "pictures/default.png" or bien.getTemplate().getMainPicture().filename is null %}
                    <td><img src="{{ asset('pictures/default.png') }}" alt="" class="card-img-top"></td>
                {% else %}
                    <td><img src="{{ vich_uploader_asset(bien.getTemplate().getMainPicture(), 'imageFile') }}" alt="" class="card-img-top"}</td>
                {% endif %}
                <td>{{ bien.getTemplate().price }}</td>
                <td>{{ bien.getTemplate().title }}</td>
                <td>{{ bien.getTemplate().description }}</td>
                <td>{{ bien.getTemplate().max }}</td>
                <td>
                    <a href="{{ path('biens_show', {'id': bien.id}) }}">show</a>
                    <a href="{{ path('biens_edit', {'id': bien.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('biens_new') }}">Create new</a>
{% endblock %}
