{% extends 'base.html.twig' %}

{% block title %}Biens{% endblock %}

{% block body %}
    <h1>Biens</h1>

   <table class="table">
            <tbody>
                <tr>
                    <th>Image Principale</th>
                    <td><img src="{{asset(bien.getTemplate().getMainPicture().filename)}}"></td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ bien.getTemplate().title }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ bien.getTemplate().description }}</td>
                </tr>
                <tr>
                    <th>Maximum de personnes</th>
                    <td>{{ bien.getTemplate().max }}</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>{{ bien.getTemplate().price }}</td>
                </tr>
            </tbody>
        </table>

    <a href="{{ path('biens_index') }}">back to list</a>

    <a href="{{ path('biens_edit', {'id': bien.id}) }}">edit</a>

    {{ include('admin/biens/_delete_form.html.twig') }}
{% endblock %}
